<html>
    <body>
        <h1>LOGIN FORM</h1>
        <form action="/login" method="POST">
            <label for="username">USERNAME:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">PASSWORD:</label>
            <input type="password" name="password" id="password">
            <button type="submit">SUBMIT</button>
            <p>Account leda badcow? <a href="/sign-up">Register avvu</a></p>
        </form>
    </body>
</html>