<html>
    <body>
        <form action="/members" method="POST">
            <label for="secret">ENTER THE SECRET CODE:</label>
            <input type="text" name="secret" id="secret">
            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>