
<html>
    <body>
        <form action="/new" method="POST">
            <label for="title">TITLE:</label>
            <input type="text" name="title" id="title" required> <br>
            <label for="message">MESSAGE:</label>
            <input type="text" name="message" id="message" required> <br>
            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>